.blog-hero-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.blog-leftside-container {
  width: calc(70% - 1rem);
  min-height: 80vh;
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.blog-leftside-card1 > p {
  color: var(--text-color-darkblack);
}
.blog-leftside-card1 > h1 {
  color: var(--text-color-darkblack);
  font-size: 54px;
  line-height: 1.2;
  margin-top: 2rem;
  font-weight: 500;
}
.blog-leftside-card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-leftside-card2 > p {
  width: 50%;
}

.blog-rightside-container {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(30% - 1rem);
  gap: 1rem;
}
.blog-rightside-top-card,
.blog-rightside-bottom-card {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 16px;
}
.blog-rightside-bottom-card,
.blog-rightside-top-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blogtitlecard {
  display: flex;
  justify-content: space-between;
}
.blogtitlecard > h1 {
  width: 60%;
  line-height: 1.1;
  color: var(--text-color-darkblack);
}
.CircleArrow {
  height: 40px !important;
  width: 40px !important;
}

.moreBlog-ccontainer {
  margin-block: 2rem 0;
}
.moreblog-card {
  display: flex;
  justify-content: space-between;
}

.blog-section-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-block: 2rem;
}

.blogcontainer1 {
  background-color: var(--bg-color);
  padding: 1rem 1.2rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  transition: scale 0.2s linear;
}
.blogcard1 > h3 {
  font-size: 18px;
  caret-color: var(--text-color-darkblack);
}
.blogcard1 > p {
  font-size: 16px;
  caret-color: var(--text-color-darkgray);
  line-height: 1.2;
  margin-top: 0.4rem;
}
.blogcontainer1:hover {
  scale: 1.05;
  border: 1px solid var(--brand-color);
}

/* Best Blogs */

.continue-reading-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.LeftCircleArrow {
  rotate: 180deg;
  width: 40px !important;
  height: 40px !important;
}
.rightCircleArrow {
  width: 40px !important;
  height: 40px !important;
}
.continue-reading-card > p {
  font-size: 22px;
  font-weight: bold;
  color: var(--text-color-darkblack);
}
.bestblog-section {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 2rem;
  margin-block: 5rem 3rem;
}

.bestblog-leftside-container {
  min-width: 400px;
  max-width: 400px;
  height: 50vh;
  background-color: var(--bg-color);
  padding: 1.2rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.bestblog-leftside-card2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bestblog-leftside-card2 > p {
  width: 80%;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color-darkgray);
}
.bestblog-leftside-card2 > .rightCircleArrow {
  color: var(--text-color-darkgray);
}

.bestblog-leftside-card1 > h1 {
  font-size: 22px;
  line-height: 1.2;
  color: var(--text-color-darkblack);
  margin-top: 1rem;
}

/*  */
.bestblog-leftside-container:nth-child(2) {
  height: 58vh;
  min-width: 480px;
  margin-bottom: 3.5rem;
}

