.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}

.blogs-list {
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    word-wrap: break-word;
    background-color: rgba(211, 211, 211, 0.677);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.blogs-list p{
    width: 60%;
}
.blogs-list h3 {
    text-align: left;
    margin: 0 0 10px 0;
}

.blogs-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogs-description p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
