.selected-blog-div {
    /* margin-bottom: 150px; */
}

.YouMightAlsoLike{
    padding: 30px;
}
.YouMightAlsoLike-h2{
    margin-left: 50px;
    margin-bottom: 20px;
}
.selected-blog-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.selected-blog-title h1 {
    font-size: 150px;
}

.selected-description-div {
    display: flex;
    align-items: center;
}

.selected-description-div p {
    width: 50%;
    margin: 0;
}

.selected-blog-title p {
    margin: 0 0 1em;
    line-height: 1.6;
    text-align: left;
}

.LandscapeIconIcon2 {
    margin: 20px 0;
}

img {
    margin-bottom: 20px;
}

.blog-title-h2 {
    display: flex;
    justify-content: space-between;
}

.blog-title-p{
    display: flex;

}
.remaing-blogs{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.YouMightAlsoLike-blog-main-div{
    display: flex;
   
    
}
.YouMightAlsoLike-blog-div{
    display: flex;
   justify-content: center;
   height: 300px;
   width: 320px;
    background-color: lightgray;
    margin: 10px;
    border-radius: 15px;
    position: relative;

}
.YouMightAlsoLike-blog-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;

}
.YouMightAlsoLike-blog-date p{
    margin-right:100px ;
}
.hr-tags{
    padding: 50px;
}
.YouMightAlsoLike-blog-description{
    position: absolute;
    bottom:-100px;
    padding: 0px 10px;
}