.hero--globe {
  position: relative;
}
.contrynameCord {
  position: absolute;
  top: 10rem;
  left: 4.4rem;
  width: 10rem;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  background-color: #0950c2c7;
  color: var(--text-color-white);
  padding: 0.2rem;
}
/* .contrynameCordAnimation {
  offset-path: path(
    "M 100, 100 m 0, 0 a -50,50 0 1,1 100,0 a 50,50 0 1,1 -100,0"
  );
  animation: move 3000ms infinite alternate ease-in-out;
} */

.contryDiscriptionCord {
  position: absolute;
  bottom: 8rem;
  right: 12rem;
  width: 16rem;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  background-color: #0950c2c7;
  color: var(--text-color-white);
  padding: 0.2rem 0.4rem;
  max-height: 200px;
  width: fit-content;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
