.hero-container {
   position: relative;
   width: 100%;
   height: 100vh;
   background-image: url("../../assets/Training_Program/Banner1.webp");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
}
.hero-section {
    position: absolute;
    width: 60%;
    padding: 5rem 2rem 0 8rem; 
}
.hero-section > h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 1.4;
    color: black;
}
.Overview-left > p > span,
.hero-section > h1 > span {
    font-weight: 600;
    color: var(--brand-color);
}
.hero-section > p {
    margin: 26px 0 20px;
    font-size: 22px;
    font-weight: 400;
}
.Overview-container {
    padding: 2rem 6%;
    background-color: #ffe7c9;
}
.Overview-section {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.Overview-left {
    width: 50%;
    align-self: center;
}
.Overview-left > h1 {
    font-size: 45px;
    font-weight: 600;
}
.Overview-left > p {
    margin: 26px 0 51px;
    font-size: 22px;
    font-weight: 400;
}
.Overview-right {
    width: 40%;
    border-radius: 20px;
}
.Overview-right > img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.Highlights-container {
    padding: 2rem 6%;
    margin-block: 4rem;
}
.Highlights-section {
    padding: 0 3.5rem 0 3.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.HighlightsBox {
    width:33%;
    text-align: center;
    padding: 2rem;
    border-radius: 28px;
}
.HighlightsBox > h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.HighlightsBox > p {
    font-size: 18px;
}
.HighlightsBox:nth-child(1) {
    background-color: #1f7aff;
    color: white;
}
.HighlightsBox:nth-child(2) {
    background-color: whitesmoke;
}
.HighlightsBox:nth-child(3) {
    background-color: rgba(255, 115, 0, 1);
    color: white;
}
.HighlightsBox > img {
    width: 100px;
    height: 100px;
}
.DailogBox {
    margin-left: 2px;
    margin-right: 0px;
    overflow-y:scroll;
  }
  .success-message {
    padding: 2rem;
  }
  .success-message > h2{
    font-size: 20px;
  }
  .success-message > p,
  .SkipNow {
    font-size: 18px;
  }
  .popup-dialog-title {
    font-size: 20px;
  }
  .popup-form-group {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .popup-input-field {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid var(--brand-color);
    border-radius: 20px;
  }
  .WhyChoose_Container {
    padding: 2rem 6%;
    margin-block: 4rem;
    /* background-color: #4985c5; */
  }
  .WhyChoose_Container > h1 {
    text-align: center;
    color: black;
    font-size: 35px;
    margin-bottom: 1rem;
  }
  .WhyChoose_Container > p {
    text-align: center;
    color: black;
    font-size: 22px;
  }
  .WhyChoose-section {
    padding: 3rem 3.5rem 0 3.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.WhyChoose-box {
    width: 25%;
    background-color: rgb(252, 252, 252);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.WhyChoose-box > h2 {
    text-align: center;
    color: var(--brand-color);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.WhyChoose-box > p {
    text-align: center;
    color: #437ebd;
    font-size: 23px;
    font-weight: 600;
}
.Destination_Container {
  padding: 2rem 6%;
  margin-block: 4rem;
  background-color: #4985c5;
}
.Destination-section {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.Destination-left {
  width: 50%;
  align-self: center;
}
.Destination-left > h1 {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}
.Destination-left > h2 {
  font-size: 25px;
  color: white;
  margin-bottom: 1rem;
}
.Destination-left > h1 > span {
  color: var(--brand-color);
}
.Destination-left > p {
  margin: 26px 0 51px;
  font-size: 21px;
  font-weight: 400;
  color: white;
}
.Destination-right {
  width: 40%;
  border-radius: 20px;
}
.Destination-right > img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  align-self: flex-end;
}
.Form-Container {
  padding: 2rem 6%;
  background-color: #4985c5;
}
.Form-section {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0 1rem 0;
  flex-wrap: wrap;
}
.Form-groups {
  width: 35%;
}
.Form-text-feild {
  width: 100%;
  margin-top: 10px;
  padding: 13px;
  border: 1px solid var(--brand-color);
  border-radius: 40px;
  font-size: 16px;
}
.Form-container-button {
  width: 45%;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--brand-color);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  padding: 18px;
}
.Form-input-dropdown {
  width: 100%;
  margin-top: 10px;
  padding: 13px;
  border: 1px solid var(--brand-color);
  border-radius: 40px;
  font-size: 16px;
  appearance: none;
  background-color: white !important;
  background: url('data:image/svg+xml;utf8,<svg fill="%23000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
}


@media (max-width: 986px) {
    .hero-section {
        position: absolute;
        width: 100%;
        padding: 2rem; 
        margin-top: 1.5rem;
    }
    .hero-section > h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.3;
        color: black;
    }
    .hero-section > p {
        margin: 26px 0 30px;
        font-size: 15px !important;
        font-weight: 400;
    }
    .Overview-right {
        width: 100%;
    }
    .Overview-left {
        width: 100%;
    }
    .Overview-right > h1 {
        font-size: 35px;
        text-align: center;
        font-weight: 600;
    }
    .Overview-left > p {
        margin: 26px 0 51px;
        font-size: 18px;
        font-weight: 400;
    }
    .Highlights-section {
        padding: 0;
        display: block;
    }
    .HighlightsBox {
        width:100%;
        margin-bottom: 1.5rem;
        padding: 1rem;
    }
    .HighlightsBox > h2 {
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .HighlightsBox > p {
        font-size: 18px;
    }
    .HighlightsBox > img {
        width: 90px;
        height: 90px;
    }
    .DailogBox {
        margin-left: 2px;
        margin-right: 0px;
        overflow-y:scroll;
      }
      .success-message {
        padding: 2rem;
      }
      .success-message > h2{
        font-size: 20px;
      }
      .success-message > p,
      .SkipNow {
        font-size: 18px;
      }
      .WhyChoose-section {
        padding: 2rem;
        gap: 1.5rem;
        margin-bottom: -2rem;
    }
      .WhyChoose-box {
        width: 55%;
    }
    .WhyChoose-box > h2 {
        font-size: 30px;
    }
    .WhyChoose-box > p {
        font-size: 15px;
    }
    .WhyChoose_Container > h1 {
        font-size: 25px;
      }
      .WhyChoose_Container > p {
        font-size: 18px;
      }
      .Destination-right {
        width: 100%;
        border-radius: 20px;
      }
      .Destination-right > img {
        width: 100%;
        object-fit: contain;
        border-radius: 20px;
      }
      .Destination-right > h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        color: white;
        margin-bottom: -2rem;
    }
    .Destination-right > h1 > span { 
      color:var(--brand-color);
    }
    .Destination-left {
      width: 100%;
      margin-top: 1rem;
    }
    .Destination-left > p {
      font-size: 18px;
    }
    .Destination-left > h2 {
      font-size: 20px;
    }
    .Form-section {
      flex-wrap: wrap;
      gap: 1rem;
    }
    .Form-groups {
      width: 46% !important;
    }
    .Form-container-button {
      width: 60% !important;
      font-size: 14px !important;
      font-weight: 500;
      background-color: var(--brand-color);
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 20px;
    }
    .Form-text-feild {
      padding: 10px;
      font-size: 14px;
    }
    .Form-input-dropdown {
      padding: 10px;
      border: 1px solid var(--brand-color);
      border-radius: 40px;
      font-size: 14px;
      appearance: none;
      background-color: white !important;
      background: url('data:image/svg+xml;utf8,<svg fill="%23000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    }

}

@media (max-width: 1024px) {
    .hero-section > h1 {
        font-size: 35px;
    } 
    .hero-section > p {
        font-size: 18px;
    }
    .Overview-left > h1 {
        font-size: 35px;
        text-align: left;
    }
    .Overview-left > p {
        margin: 26px 0 51px;
        font-size: 18px;
        font-weight: 400;
    }
    .Highlights-section {
        padding: 0 1.5rem 0 1.5rem;
    }
    .HighlightsBox {
        padding: 1rem;
    }
    .HighlightsBox > h2 {
        font-size: 18px;
        
    }
    .HighlightsBox > p {
        font-size: 15px;
    }
    .HighlightsBox > img {
        width: 70px;
        height: 70px;
    }
      .DailogBox {
        overflow-y:scroll;
      }
      .Destination-left > h1 {
        font-size: 35px;
        line-height: 1.2;
      }
      .Destination-left > p {
        font-size: 18px;
      }
      .Destination-left > h2 {
        font-size: 20px;
      }
     .Form-container-button {
        width: 55%;
        font-size: 18px;
        padding: 15px;
        margin-bottom: 10px;
      }
      .Form-groups {
        width: 35%;
      }
      .Form-groups {
        width: 40%;
      }
      .Form-text-feild {
        padding: 10px;
      }
      .Form-input-dropdown {
        padding: 10px;
      } 
}

@media (max-width: 1280px) {
    .DailogContent > h3 {
      font-size: 18px;
      color: #306398;
      font-weight: 600;
      text-align: center;
    }
    .DailogContent > p {
      font-size: 15px;
      color: black;
      text-align: center;
    }
    .DailogTitle {
      font-size: 22px;
      text-align: center;
    }
    .Dailog-container {
      padding: 1.2rem;
    }
}