.Leadgeneration-container {
    width: 100%;
    height: 100vh;
    background-image: url("https://strapi.orientspectra.com/uploads/germany_after_seven_years_afd_rule_analysis_127a0b7759.webp");
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.692);
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;
  }
  .Leadgeneration-content {
    width: 50%;
  }
  .Leadgeneration-content > h1{
    font-size: 40px;
    font-weight: 600;
    color: white;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  .Leadgeneration-content > p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--text-color-white);
    margin-bottom: 1rem;
  }
  .Leadgeneration-content > ul > li {
    color: white;
    margin-left: 20px;
    font-size: 20px;
  }
  .form-container1 {
    width: 40%;
    background-color: white;
    padding: 2rem;
  }
  .form-container1 > p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--text-color-black);
    padding: 1rem;
    text-align: center;
    margin-top: -15px;
  }
  .form-container1 > span {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--text-color-black);
  }
  .form-container1-button {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--brand-color);
    border: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
  }
  .text-feild-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .form-groups {
    margin-bottom: 1rem; /* Space between form fields */
    position: relative; /* Ensure error message is positioned relative to this container */
    width: 45%;

}
  .input-feild {
    width:100%;
    font-size:15px;
    padding: 10px;
  }
  .input-field1{
    padding: 1rem;
  }
  .input-field2 {
    font-size:15px;
    width: 90%;
    padding: 10px;
  }
  .text-area_container {
    width: 100%;
    display: block;
  }
  .text_area {
    padding: 10px;
    font-size:15px;
  }
 
  .MargueeImage {
    margin-block: 2rem 6rem;
  }
  .USA_image_container {
    margin-right: 6rem;
  }
  .USA_image_container > img {
    filter: grayscale(100%);
    object-fit: contain;
  }
  .USA_image_container {
    width: 180px;
  }
  .Acedemic_cantainer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://strapi.orientspectra.com/uploads/Banner_Final_c475bb6fa7.jpg");
    background-repeat: repeat;
    background-size: cover;
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 5rem;
  }
.Acedemic_cantainer__header > p {
  font-size: 35px;
  color: var(--text-color-white);
  font-weight: 500;
  margin-left: 20px;
  /* margin-bottom: 1rem; */
}
.discovermoreButton {
  margin-top: 1rem;
}
.Event_container {
  padding: 2rem 6%;
}
.Event_content {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}
.Event_details {
  width: 48%;
}
.Event_details > h1 {
  font-size: 3rem;
  color: #306398;
  margin-bottom: 2rem;
}
.Event_details > h1 > span {
  color: #e37d25;
}
.Event_details > p > span {
  color: #306398;
  font-weight: 600;
}
.Event_details > p {
  color: var(--text-color-black);
  font-size: 25px;
  margin-bottom: 20px;
}
.Image_container{
  width: 40%;
}
.Image_container > img {
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid var(--text-color-gray);
}
.Benifts_container {
  background-color: #f3f3f3f3 !important;
  padding: 2rem 6%;
}
.Benifts_container > h1 {
  font-size: 3rem;
  color: var(--brand-color);
  font-weight: 700;
  text-align: center;
}
.Benifits_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  margin-top: 1rem;
  padding: 5rem;
}
.Benifits_Box {
  width: 30%;
  padding: 5px;
  display: flex;
  padding: 1.2rem 1.4rem;
  gap: 5%;
}
.Benifits_Box > img {
  width: 40px;
  object-fit: contain;
}
.Benifits_Box > p{
  font-size: 22px;
  text-align: left;
  font-weight: 700;
}
.Thank_you_container {
  background-color: rgba(31, 122, 255, 1);
  padding: 10rem;
}
.Thank_you_container > img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Thank_you_container > h1 {
  font-size: 6rem;
  text-align: center;
  color: white;
}
.Thank_you_container > p{
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}
.Thank_you_link > h3 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: underline;
}


@media (max-width:1024px) {
  .Leadgeneration-container1 {
    padding: 2rem;
    height: fit-content;
  }
  .Leadgeneration-content > h1 {
    font-size: 25px;
  }
  .Leadgeneration-content > p {
    font-size: 15px;
  }
  .Leadgeneration-content > ul > li {
    margin-left: 12px;
    font-size: 15px;
  }
  .form-container1 {
    width: 45%;
    margin-top: 10%;
    padding: 3rem;
  }
  .text-feild-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
  }
  .input-feild {
    font-size:13px;
    width: 100%;
    padding: 10px;
  }
  .discoverButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.2rem;
  }
  .Acedemic_cantainer__header > p {
    font-size: 24px;
    color: var(--text-color-white);
    background-size: contain;
  }
  .Event_details > h1 {
    font-size: 30px;
  }
  .Event_details > p {
    font-size: 18px;
  }
  .Benifts_container > h1{
    font-size: 2rem
  }
  .Benifits_content {
    padding: 0%;
    gap: 0%;
    margin-top: 1rem;
  }
  .Benifits_Box {
    width: 50%;
    display: flex;
    padding: 1.2rem;
    gap: 5%;
  }
  .Benifits_Box > img {
    width: 30px;
    object-fit: contain;
  }
  .Benifits_Box > p{
    font-size: 18px;
    text-align: left;
    font-weight: 700;
  } 
  .Thank_you_container > h1 {
    font-size: 2.5rem;
  }
  .Thank_you_container > p{
    font-size: 1rem;
  }
  .Thank_you_link > h3 {
    font-size: 0.8rem;
  }
}

@media (max-width:986px) {
  .Leadgeneration-container1,
    .Leadgeneration-content {
      width: 100%;
      padding: 5rem 1rem 1rem 1rem;
      height: fit-content;
    }
    .Leadgeneration-content > h1 {
      font-size: 20px;
      margin-bottom: 2rem;
    }
    .Leadgeneration-content > p {
      font-size: 15px;
      margin-bottom: 0.5rem;
    }
    .form-container1 {
      display: block;
      width: 100%;
      gap:1rem;
      padding: 2.5rem;
    }
    .form-groups {
      width:100%;
      margin-bottom: 0;
    }
    .input-feild {
      font-size:13px;
      width: 100%;
      padding: 10px;
    }
    .MargueeImage {
      margin-block: 2rem 3rem;
    }
    .Acedemic_cantainer__header {
      align-items: center;
      flex-direction: column;
      background-repeat: repeat;
      background-size: cover;
    }
    .Acedemic_cantainer__header > p {
      font-size: 26px;
      color: var(--text-color-white);
      font-weight: 550;
      margin-top: 20px;
      text-align: center;
    }
    .Event_details{
      width: 100%;
    }
    .Event_details > h1 {
      font-size: 30px;
    }
    .Event_details > p {
      font-size: 18px;
    }
    .Image_container{
      width: 100%;
    }
    .Image_container > img {
      object-fit: cover;
      border-radius: 20px;
      border: 2px solid var(--text-color-gray);
    }
    .Benifts_container > h1{
      font-size: 2rem
    }
    .Benifits_content {
      padding: 0%;
      gap: 0%;
    }
    .Benifits_Box {
      width: 50%;
      display: flex;
      padding: 1.2rem;
      gap: 5%;
    }
    .Benifits_Box > img {
      width: 22px;
      object-fit: contain;
    }
    .Benifits_Box > p{
      font-size: 15px;
    }
    .Leadgeneration-content > ul > li {
      margin-left: 12px;
      font-size: 15px;
    }
    .Thank_you_container {
      padding: 8rem 3rem 8rem 3rem;
    }
    .Thank_you_container > img {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .Thank_you_container > h1 {
      font-size: 2.5rem;
    }
    .Thank_you_container > p{
      font-size: 1rem;
    }
    .Thank_you_link > h3 {
      font-size: 0.8rem;
    }
}

@media (max-width: 1280px) {
  .Benifits_Box > p{
    font-size: 18px;
  }
}