* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OverusedGrotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  word-spacing: 2px;
  letter-spacing: 0.2px;
}
@font-face {
  font-family: "OverusedGrotesk";
  src: url("src/fonts/woff/OverusedGrotesk-Light.woff") format("woff");
}

body {
  min-width: 100%;
  min-height: 100vh;
  -ms-overflow-style: none;
}
:root {
  --brand-color: #ff7300;
  --brand-color-light: #eb7a1e;

  --text-color-white: #fefefe;
  --text-color-lightwhite: #f2f2f2;

  --text-color-black: #3a3a3a;
  --text-color-gray: #bfbfbf;
  --text-color-darkgray: rgba(122, 122, 122, 1);
  --box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  --text-color-darkblack: #1e1e1e;
  --text-color-blue: #1f7aff;
  --bg-color: #e7e7e7;
  --rbrand-color: #03118d8a;


}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.Link_route {
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scrollbar-width: none;
}

.section {
  padding: 0.5rem 6%;
}

.section2 {
  padding: 1rem 6%;
}

.WhatsApp {
  position: fixed;
  bottom: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 6;
}
.WhatsApp > img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.Dailog-container {
  padding: 2rem;
  background-color: #306398;
}
.popup-dialog-title {
  font-size: 20px;
}
.popup-text-feild {
  width: 100%;
}
.popup-form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.popup-input-field {
  width: 100%;
  font-size: 15px;
  padding: 10px;
}
.DailogTitle {
  font-size: 30px;
  text-align: center;
  color: white;
}
.Dailog-container > h3 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.Dailog-container > p {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}
.popup-form-container-button {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--brand-color);
  border: none;
  color: white;
  margin-top: 0 !important;
  cursor: pointer;
}
.success-message {
  padding: 3rem;
  background-color: #306398;
}
.success-message > img{
  width: 100px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.success-message > h2{
  color: white;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.success-message > p{
  color: var(--brand-color);
  text-decoration: underline;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;  
}
.SkipNow {
  color: white;
  text-decoration: underline;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  margin-top: 10px; 
}
@media (max-width: 986px) {
  .DailogBox {
    margin-left: -15px;
    margin-right: 20px;
  }
  .Dailog-container {
    padding: 1.2rem;
  }
  .Dailog-container > h3 {
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-align: center;
  }
  .Dailog-container > p {
    font-size: 15px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
  }
  .DailogTitle {
    font-size: 22px;
    text-align: center;
  }
  .success-message {
    padding: 2rem;
  }
  .success-message > h2{
    font-size: 20px;
  }
  .success-message > p,
  .SkipNow {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .WhatsApp {
    left: 30px;
  }
}

/* For extra small screens */
@media (max-width: 576px) {
  .WhatsApp > img {
    margin-bottom: 50px !important;
    margin-right: 40px;
    width: 60px;
    height: 60px;
  }
}